@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,400;1,500&family=Raleway&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(58, 51, 51);
    flex-wrap: wrap;
    padding: 10px;
    opacity: 0.7;
}
nav ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    flex-wrap: wrap;
}
nav ul li{
    list-style-type: none;
    font-size: 20px;
}
nav ul li a{
    text-decoration: none;
    border-radius: 20px;
    display: block;
    padding: 10px 40px;
    color: #fff;
}
nav ul li a:hover{
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    color: #000;
    transition: all 0.1s linear;
}
header{
    background-image: linear-gradient(
        76deg,
        rgba(41, 44, 65, 0.83) 35%,
        rgba(32, 51, 136, 0.28) 65%
      ),
      url("https://p1.pxfuel.com/preview/249/864/1010/background-frame-food-kitchen.jpg" );
      height: 100vh;
      background-size: cover;
}
.body-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap; 
    padding: 120px; 
}
.body-title h1{
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 45px;
    font-weight: 600;
    letter-spacing: 1;
    text-align: center;
    margin: 10px;
}
.body-title h3{
    font-size: 25px;
    font-weight: 600;
    color: ivory;
    text-align: center;
    margin: 10px;
}
.body-title  p{
    color: lavenderblush;
    font-size: 25px;
    text-align: center;
}
.btn{
    margin: 0% auto; 
    color: white;
    font-size: 20px;
    background-color: brown;
    padding: 10px 30px;
    border-radius: 10px;
    border: 2px solid white;
    cursor: pointer;
    outline: none;
    margin-top: 20px;
}
.btn:hover{
    background-color: #fff;
    color: #000;
}
.title-service{
    margin-top: 60px;
    text-align: center;
    font-size: 50px;
    color: #000;
}
.conterner1{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}
.box{
  padding: 10px ;
  margin: 10px;
  text-align: center;
  align-items: center;
  border: 2px solid brown;
  padding: 14px;
  margin: 20px 30px;
  border-radius: 23px;
  background-color: rgb(224, 209, 209);
}
.box p{
    word-break: break-all;
    color: #000;
}
.box-img{
    border-radius: 20px;
}
.box-title{
    font-family: 'Poppins', sans-serif;
    color: rgb(80, 74, 74);
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 1;
    text-align: center;
    margin: 10px;
}
.box-para{
    font-size: 20px;
    text-align: center;
    color: rgba(255, 247, 247, 0);
}
.client-img{
    background-image: linear-gradient(
        76deg,
        rgba(65, 65, 70, 0.83) 35%,
        rgba(113, 123, 163, 0.28) 65%
      ), url(https://images.pexels.com/photos/65174/pexels-photo-65174.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
    flex-wrap: wrap;
}
.client-title{
    display: block;
    text-align: center;
    font-size: 60px;
    font-weight: 800;
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
}
.client-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.client-section img{
    width: 150px;
    padding: 20px;
    height: 150px;
    border-radius: 40px;
}
.contact-img{
    background-image: linear-gradient(
        76deg,
        rgba(12, 17, 15, 0.83) 35%,
        rgba(9, 20, 66, 0.28) 65%
      ), url(https://images.pexels.com/photos/17663/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&w=500);
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
}
#from-secaton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
    margin: 20px auto;
}
form input{
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: none;
    align-items: center;
}
.submit-btn{
    margin: 0% auto; 
    color: white;
    font-size: 15px;
    background-color: rgb(9, 168, 129);
    padding: 5px 10px;
    border-radius: 10px;
    border: 2px solid rgb(245, 245, 245);
    cursor: pointer;
    outline: none;
}
.submit-btn:hover{
    background-color: antiquewhite;
    color: #000;
}
.name{
    font-size: 25px;
}
.footer-title{
    text-align: center;
    background-color: black;
    color: #fff;
    margin: 40px;
}
.bar-icon-1{
    font-size: 28px;
    cursor: pointer;
    display: none;
}
span {
    position: relative;
    bottom: 0px;
    left: 85%;
    flex-wrap: wrap;
  }

@media only screen and (max-width: 900px){
    .conterner1{
        flex-wrap: wrap;
    }
    nav ul li a{
        display: none;
    }
} 
@media only screen and (max-width: 790px) {
    nav ul li a{
        display: block;
    }
    .bar-icon-1{
        display: block;
    }

@media only screen and (max-width: 550px){
    .bar-icon-1{
        right: 0%;
        left: 0%;
    }
}
@media only screen and (max-width: 700px) {
    .body-title{
    padding: 0%;
    }
    header{
    min-height: 150vh;
    }
    .title-service{
        margin-top: 400px;
    }
    .client-img{
        height: 100vh;
    }
    .contact-img{
        height: 100vh;
    }
}
@media only screen and (max-width: 350px) {
    .body-title{
        word-break: break-all;
    }
    .conterner1{
        margin-top: 0%;
    }
    .title-service{
        margin-top: 0%;
    }
    .client-img{
        height: 150vh;
    }
}